{% extends 'myshop/base.html' %}
{% load static %}
{% block content %}
<div class="cart-show">
    <li class="list-cart">
    {% for product in  object_list %}
        <ul class="list-cart">
            <form method="post">
                {% csrf_token %}
                <h2>{{ product.product_id.name }}</h2>
                <h5>{{ product.product_id.price }} у.е.</h5>
                 размер: {{ product.size }}</br>
                <a href="{{ product.product_id.get_absolute_url }}" class="btn btn-primary">Подробнее</a></br></br>
                <img src="{{ product.product_id.main_image.url }}" class="" width="100" height="100" alt="..."></br></br>
                <button type="submit" class="btn btn-danger" name="remove_product" value='{{ product.id }}'>Удалить</button>
            </form>
        </ul>
    {% endfor %}
        {% if object_list %}
        <div class="make-order">
            <form method="post">
                {% csrf_token %}
                <h2>Итого: {{sum|stringformat:".2f"}} у.е.</h2>
                <button type="submit" class="btn btn-secondary" name="order" value="make_pay">Оформить заказ</button>
            </form>
            {% else %}
            <h3>Корзина пуста</h3>
        </div>
        {% endif %}
    </li>
</div>
{% endblock %}